
  svg{
    padding: 20px;
  }
  text{
    font-size: 10px;
  }
  strong{
    font-weight: 600;
  }
  #graphic {
    max-width:  1440px;
    width: 100%;
    position:   relative; 
    height:  100%;
    position:  relative; 
    margin:auto;
  }
  .container2 {
    height: 100%;
    max-width: 440px;
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    height: 100%;
    line-height: 1.5;
    left: 650px;
  }
  .container2 div {
    height: 100%;
    display: block;
    padding: 0 45px;
  }
  .fixed {
    position: fixed;
    width: 700px;
    height: 500px;
    top: 50px;
    left: 100px;
  }
  p.first{
    margin-left: 40px;
    margin-top: 25px;
  }
  p.second{
    margin-left: 40px;
    margin-top: 35px;
  }
   p.third{
    margin-left: 40px;
    margin-top: 45px;
  }
   p.fourth{
    margin-left: 40px;
    margin-top: 55px;
  }
   p.fifth{
    margin-left: 40px;
    margin-top: 65px;
  }