div.tooltip { 
    position: absolute;
    bottom: 0;
    width: 230px;
    left: -125px;
    font-size: 12px;
    line-height: 16px;
    padding: 10px;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.9);
    color: #000;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(200, 200, 200, 0.85);
    text-align: center; 
    height: 50px;
}


.first{
  position: absolute;
  top:85px;
}

.second{
  position: absolute;
  top:170px;
}

.third{
  position: absolute;
  top:255px;
}

.fourth{
  position: absolute;
  top:335px;
}

.fifth{
  position: absolute;
  top:415px;
}
